/* CSS File: Downloadbereich */

@media only screen and (min-width: 720px) {
    
    #h1Downloads {
        padding: 10px;
        border: 5px solid #CC8F22;
        background-color: var(--pergamentWhite);
        width: 600px;
        position: relative;
        margin: auto;
        margin-top: 5%;
    }   

}

#downloadKachelBox{
    width: 1400px;
    position: absolute;
    left: 50%;
    top: 25vh;
    transform: translateX(-50%);
}
.kachel{
    width: calc(25% - 50px);
    margin: 25px;
    float: left; 
}
.kachel img{
    margin: 10px auto;
}
.kachel p{
    text-align: center;
}
.kachel h2{
    color: black;
}
.downloadHover{
    transition: 0.3s ease-in-out;
}
.downloadHover:hover{
    transform: scale(1.1);
}
.kachel h2{
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.quest:hover{
    transform: scale(1.1);
}