/* CSS File: Startseite */

#startframe {
  width: 100vw;
  height: calc(100vh - 112px); /* gesamte Höhe Minus die Höhe der Navbar */
  /*
  background-image: url("../assets/backgroundAnimated.svg");
  background-size: cover;
  */
  display: flex;
  justify-content: space-between;
}

.startframeRahmen {
  height: 100%; /* gesamte Höhe Minus die Höhe der Navbar */
}

#startframeLogo img {
  height: 100%;
  width: 100%;
}

#middleSection{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  top: 30%;
  width: 30%;
}

#startframeDecoRight{
  position: absolute;
  top: 0px;
  right: -500px;
  height: 100%;
}

#startframeDecoLeft{
  position: absolute;
  top: 0px;
  left: -500px;
  height: 100%;
}