/* CSS File: Tools-Bereich */

#h1Tools {
    padding: 10px;
    border: 5px solid #CC8F22;
    background-color: var(--pergamentWhite);
    width: 400px;
    position: relative;
    margin: auto;
    margin-top: 8%;
}

#toolsSpeech{
    height: 300px;
    width: 450px;
    position: absolute;
    left: 24%;
    top: 200px;
    background-image: url("../assets/ttrpg/Intro_TTRPG_Textbox.svg");
    background-repeat: no-repeat;
    opacity: 0;
}

#toolsSpeech p{
    height: calc(100% - 70px);
    width: calc(100% - 100px);
    margin: 30px;
    text-align: center;
    opacity: 0;
}

#toolsCrow{
    height: 25vh;
    position: absolute;
    left: calc(25% + 450px);
    top: 340px;
    z-index: 2;
}

/* Werterechner */
#werterechner{
    height: 50vh;
    position: relative;
    bottom: 600px;
}
.bookDiv{
    height: calc(80vh - var(--height-Navbar));
    width: 1400px;
    position: absolute;
    left: 50%;
    top: 15vh;
    transform: translateX(-50%);
}
.bookFrame{
    width: 1200px;
    height: calc(77vh - var(--height-Navbar) + 20px);
    border: 4px solid black;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #47271a;
    position: relative;
}
.bookLeftBack{
    border-left: 3px solid var(--woodBrown);
    border-top: 3px solid var(--woodBrown);
    border-bottom: 3px solid var(--woodBrown);
    height: calc(80vh - 127px);
    width: 580px;
    margin-top: 20px;
    position: absolute;
    left: 20px;
    background: linear-gradient(to left, #000000 0%, var(--pergamentWhite) 20%);
}
.bookRightBack{
    border-right: 3px solid var(--woodBrown);
    border-top: 3px solid var(--woodBrown);
    border-bottom: 3px solid var(--woodBrown);
    height: calc(80vh - 127px);
    width: 580px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    background: linear-gradient(to right, #000000 0%, var(--pergamentWhite) 20%);
}
.bookFrame h2, .bookFrame h3{
    color: black;
}

/* Linke Buchseite */
.leftBookSide h2{
    margin-left: 50px;
    margin-right: 50px;
}

/* Linke Buchseite Input Boxen */
#inputContainer{
    position: absolute;
    width: 440px;
    top: 250px;
    left: 70px;
}
#ST{
    position: absolute;
}
#AU{
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}
#GE{
    position: absolute;
    right: 0px;
}
#IN{
    position: absolute;
    top: 110px;
}
#CH{
    position: absolute;
    top: 110px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}
#MB{
    position: absolute;
    right: 0px;
    top: 110px;
}
#MA{
    position: absolute;
    top: 220px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}
.inputBox {
    width: 105px;
    
}
.inputBox label{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5em;
    height: 50px;
}
.inputBox input {
    height: 35px;
    width: 95px;
    text-align: center;
    margin: 0px 1px 0px 1px;
    font-size: 1.1em;
    color: #9c150b;
}

/* Rechte Buchseite */
#statsDescription{
    width: 400px;
    position: absolute;
    top: 100px;
    right: 25px;
    font-size: 1.4em;
}
#statsContainer{
    width: 400px;
    position: absolute;
    top: 100px;
    right: 150px;
    font-size: 1.4em;
    text-align: end;
    color: #9c150b;
}

.stats{ 
    color: #9c150b;
}

